.ResizerAnchor {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 24px;
  border: 2px solid #333;
  border-radius: 50%;
  background: #fff;
  transform: translate(-50%, -50%);
  cursor: pointer;
  pointer-events: all;
}

.ResizerAnchor-top {
  top: 0;
}

.ResizerAnchor-right {
  left: 100%;
}

.ResizerAnchor-bottom {
  top: 100%;
}

.ResizerAnchor-left {
  left: 0;
}

.ResizerAnchor-rotation {
  top: -35px;
  left: 50%;
  background: var(--orange);
}

@media (max-width: 1024px) {
  .ResizerAnchor {
    width: 48px;
    height: 48px;
  }
}
