:root {
  --green: #589442;
  --orange: #f5a300;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  color: #333;
  overscroll-behavior-y: contain;
}

button {
  padding: 4px 8px;
  border: 1px solid #666;
  border-radius: 2px;
  margin-right: 12px;
  background: #fafafa;
}

button:disabled {
  color: #666;
}